
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="APMC Yard Admin Dashboard">
    <meta name="author" content="Sayanraj Guha">
    <!-- <link rel="icon" href="../../../../favicon.ico"> -->

    <title>APMC Yard</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-tokenfield.min.css" rel="stylesheet">
    <link href="css/tokenfield-typeahead.min.css" rel="stylesheet">
    <link href="css/jquery-ui.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/dashboard.css" rel="stylesheet">
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">APMC - Onboard Shop</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/dashboard">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Settings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Help</a>
            </li>
          </ul>
          <form class="form-inline mt-2 mt-md-0">
            <!-- <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"> -->
            <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Sign Out</button>
          </form>
        </div>
      </nav>
    </header>

    <div class="container-fluid">
      <div class="row">
        <main role="main" class="col-sm-12 ml-sm-auto col-md-12 pt-3">
            <form id="registerForm">
              <div class="form-group row">
                <label for="shopName" class="col-lg-2 col-md-2 col-sm-6 col-xs-6 col-form-label">Shop Name</label>
                <div class="col-lg-10 col-md-10 col-sm-6 col-xs-6">
                  <input class="form-control" type="text" autocomplete="off" name="name" placeholder="Enter shop name" id="shopName">
                </div>
                </div>
                <div class="form-group row">
                <label for="address" class="col-lg-2 col-md-2 col-sm-6 col-xs-6  col-form-label">Address</label>
                <div class="col-lg-10 col-md-10 col-sm-6 col-xs-6">
                  <input class="form-control" type="search" name="address" autocomplete="off" placeholder="Enter shop address" id="address">
                </div>
                </div>
                <div class="form-group row">
                <label for="contact" class="col-lg-2 col-md-2 col-sm-6 col-xs-6  col-form-label">Contact Number</label>
                <div class="col-lg-10 col-md-10 col-sm-6 col-xs-6">
                  <input class="form-control" type="text" name="contact" autocomplete="off" placeholder="Enter contact number"  id="contact">
                </div>
                </div>
                <div class="form-group row">
                <label for="price" class="col-lg-2 col-md-2 col-sm-6 col-xs-6  col-form-label">Subscription Amount</label>
                <div class="col-lg-10 col-md-10 col-sm-6 col-xs-6">
                  <input class="form-control" type="number" id="price" autocomplete="off" placeholder="Enter Subscription Amount" name="price">
                </div>
                </div>
                <div class="form-group row">
                <label for="tenure" class="col-lg-2 col-md-2 col-sm-6 col-xs-6  col-form-label">Subscription Tenure (in years)</label>
                <div class="col-lg-10 col-md-10 col-sm-6 col-xs-6">
                  <input class="form-control" type="number" id="tenure" autocomplete="off" placeholder="Enter Subscription tenure in years" name="tenure">
                </div>
                </div>
                <div class="form-group row">
                <label for="owner_id" class="col-lg-2 col-md-2 col-sm-6 col-xs-6  col-form-label">Select Owner</label>
                <div class="col-lg-10 col-md-10 col-sm-6 col-xs-6">
                  <input class="form-control" type="text" id="owner_id" name="owner_id">
                </div>
                </div>
                <div class="form-group row">
                <label for="representative_ids" class="col-lg-2 col-md-2 col-sm-6 col-xs-6 col-form-label">Select Representatives</label>
                <div class="col-lg-10 col-md-10 col-sm-6 col-xs-6">
                  <input class="form-control" type="text" id="representative_ids" name="representative_ids">
                </div>
                </div>
                <div class="form-group row text-center">
                  <div class="col-6">
                    <button class="btn btn-block btn-success" type="submit">Save</button>
                  </div>
                  <div class="col-6">
                    <button class="btn btn-block btn-danger">Cancel</button>
                  </div>
                </div>
            </form>
        </main>
      </div>
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="successModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Shop Added!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Shop added successfully..!</p>
            <p>ID : <strong id="shopId"></strong></p>
            <p><i>Please keep a record of the above id, you may need it during shop setup.</i></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery-migrate-3.0.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-tokenfield.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
