
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="APMC Yard Admin Dashboard">
    <meta name="author" content="Sayanraj Guha">
    <!-- <link rel="icon" href="../../../../favicon.ico"> -->

    <title>APMC Yard</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-tokenfield.min.css" rel="stylesheet">
    <link href="css/tokenfield-typeahead.min.css" rel="stylesheet">
    <link href="css/jquery-ui.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom styles for this template -->
    <!-- <link href="css/dashboard.c  ss" rel="stylesheet"> -->
    <link href="css/crudTable.css" rel="stylesheet">

  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">APMC - Manage Shop</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Settings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Help</a>
            </li>
          </ul>
          <form class="form-inline mt-2 mt-md-0">
            <!-- <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search"> -->
            <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Sign Out</button>
          </form>
        </div>
      </nav>
    </header>

    <div class="container-fluid">
      <div class="row">
        <main role="main" class="col-sm-12 ml-sm-auto col-md-12 pt-3">
          <div class="table-wrapper">
              <div class="table-title">
                  <div class="row">
                    <div class="col-sm-6">
                      <h2>Manage <b>Shops</b></h2>
                    </div>
          					<div class="col-sm-6">
          						<a href="#addShopModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New Shop</span></a>
          						<a href="#deleteModal" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span>Delete</span></a>
          					</div>
                  </div>
              </div>
              <table class="table table-striped table-hover" id="shopsTable">
                <thead>
                 <tr>
	                <th>
				           <span class="custom-checkbox">
    								<input type="checkbox" id="selectAll">
    								<label for="selectAll"></label>
			             </span>
                  </th>
                  <th>Shop ID</th>
                  <th>Name</th>
                  <th>Address</th>
                  <th>Contact</th>
                  <th>Members</th>
                  <th></th>
                  </tr>
                </thead>
                <tbody>
                  <!-- dynamic population of data -->
                </tbody>
              </table>
             <div class="clearfix">
                  <div class="hint-text">Showing <b id="entries"></b> out of <b id="total"></b> entries</div>
                  <ul class="pagination">
                      <!-- <li class="page-item" id="startingPage"><a href="#" class="page-link"></a></li> -->
                      <li class="page-item"  id="previous"><a href="javascript:void(0)" class="page-link" id="prevBtn">Previous</a></li>
                      <!-- <li class="page-item disabled"><a href="#" class="page-link">...</a></li> -->
                      <li class="page-item active" id="currPage"><a href="javascript:void(0)" class="page-link"></a></li>
                      <!-- <li class="page-item disabled"><a href="#" class="page-link">...</a></li> -->
                      <li class="page-item" id="next"><a href="javascript:void(0)" class="page-link" id="nxtBtn">Next</a></li>
                      <input type="hidden" id="totalPages" value="" />
                      <!-- <li class="page-item" id="lastPage"><a href="#" class="page-link"></a></li> -->
                  </ul>
              </div>
          </div>
        </main>
      </div>
    </div>
    <!-- Add Shop Modal -->
    <div class="modal fade" id="addShopModal" tabindex="-1" role="dialog" aria-hidden="true" data-keyboard="false" data-backdrop="static">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <main role="main" class="col-sm-12 ml-sm-auto col-md-12 pt-3">
                    <form id="registerForm">
                      <input type="hidden" name="_id" id="_id">
                      <div class="form-group row">
                        <label for="shopName" class="col-lg-2 col-md-2 col-sm-6 col-xs-6 col-form-label">Shop Name</label>
                        <div class="col-lg-10 col-md-10 col-sm-6 col-xs-6">
                          <input class="form-control" type="text" autocomplete="off" name="name" placeholder="Enter shop name" id="shopName">
                        </div>
                        </div>
                        <div class="form-group row">
                        <label for="address" class="col-lg-2 col-md-2 col-sm-6 col-xs-6  col-form-label">Address</label>
                        <div class="col-lg-10 col-md-10 col-sm-6 col-xs-6">
                          <input class="form-control" type="search" name="address" autocomplete="off" placeholder="Enter shop address" id="shopAddress">
                        </div>
                        </div>
                        <div class="form-group row">
                        <label for="contact" class="col-lg-2 col-md-2 col-sm-6 col-xs-6  col-form-label">Contact Number</label>
                        <div class="col-lg-10 col-md-10 col-sm-6 col-xs-6">
                          <input class="form-control" type="text" name="contact" autocomplete="off" placeholder="Enter contact number"  id="contact">
                        </div>
                        </div>
                        <div class="form-group row">
                        <label for="price" class="col-lg-2 col-md-2 col-sm-6 col-xs-6  col-form-label">Subscription Amount</label>
                        <div class="col-lg-10 col-md-10 col-sm-6 col-xs-6">
                          <input class="form-control" type="number" id="price" autocomplete="off" placeholder="Enter Subscription Amount" name="price">
                        </div>
                        </div>
                        <div class="form-group row">
                        <label for="tenure" class="col-lg-2 col-md-2 col-sm-6 col-xs-6  col-form-label">Subscription Tenure (in years)</label>
                        <div class="col-lg-10 col-md-10 col-sm-6 col-xs-6">
                          <input class="form-control" type="number" id="tenure" autocomplete="off" placeholder="Enter Subscription tenure in years" name="tenure">
                        </div>
                        </div>
                        <div class="form-group row">
                        <label for="owner_id" class="col-lg-2 col-md-2 col-sm-6 col-xs-6  col-form-label">Select Owner</label>
                        <div class="col-lg-10 col-md-10 col-sm-6 col-xs-6">
                          <input class="form-control" type="text" id="owner_id" name="owner_id">
                        </div>
                        </div>
                        <div class="form-group row">
                        <label for="representative_ids" class="col-lg-2 col-md-2 col-sm-6 col-xs-6 col-form-label">Select Representatives</label>
                        <div class="col-lg-10 col-md-10 col-sm-6 col-xs-6">
                          <input class="form-control" type="text" id="representative_ids" name="representative_ids">
                        </div>
                        </div>
                        <div class="form-group row">
                          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
                            <button type="button" id="saveNewShopBtn" class="btn btn-primary form-control">Save changes</button>
                          </div>
                          <div class="col-sm-6 col-md-6 col-lg-6 col-xs-6">
                            <button type="button" class="btn btn-danger form-control" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                    </form>
                </main>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  	<!-- Delete Modal HTML -->
  	<div id="deleteModal" class="modal fade" data-keyboard="false" data-backdrop="static">
  		<div class="modal-dialog">
  			<div class="modal-content">
  				<form>
  					<div class="modal-header">
  						<h4 class="modal-title">Delete Shop</h4>
  						<!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> -->
  					</div>
  					<div class="modal-body">
  						<p>Are you sure you want to delete these records?</p>
  						<p class="text-warning"><small>This action cannot be undone.</small></p>
  					</div>
  					<div class="modal-footer">
  						<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
  						<input type="button" id="confirmDeleleShops" class="btn btn-danger" value="Delete">
  					</div>
  				</form>
  			</div>
  		</div>
  	</div>
    <!-- Loader Modal -->
    <div class="modal hide" id="pleaseWaitDialog" data-backdrop="static" data-keyboard="false" data-focus="true">
      <div class="modal-body">
        <div class="">
          <i class="fa fa-spinner fa-spin" style="font-size:50px; color:black; position:fixed; top:50%; left:50%"></i>
        </div>
      </div>
    </div>
    <!-- Success Modal -->
    <div class="modal" tabindex="-1" role="dialog" id="successModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Success!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Shop <span id="action">saved</span> successfully..!</p>
            <p id="textID">ID : <strong id="shopId"></strong></p>
            <p id="textInfo"><i>Please keep a record of the above id, you may need it during shop setup.</i></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery-migrate-3.0.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-tokenfield.min.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/shopsOnLoad.js"></script>
  </body>
</html>
